<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.zzh.ZNBluetoothDetection" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		ZNBlutoothDetection
	</name>
    <author>爱上无名氏</author>
	<js-module name="ZNBluetoothDetection" src="www/ZNBluetoothDetection.js">
		<clobbers target="navigator.BluetoothDetection" />
	</js-module>
	<platform name="android">
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="ZNBluetoothDetection">
				<param name="ios-package" value="ZNBluetoothDetection" />
			</feature>
		</config-file>
        <header-file src="src/ios/ZNBluetoothDetection.h" />
		<source-file src="src/ios/ZNBluetoothDetection.m" />
        <framework src="CoreBluetooth.framework" />
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
                <string>蓝牙</string>
        </config-file>
	</platform>
</plugin>
