<base-content [title]="title" [backtype]="2" (back)="downBack($event)">
    <div class="my_bespokes bespokes">
        <ion-content>
            <ion-list>
                <div *ngFor="let one of datas;let i =  index" class="oneBespoke">
                  <div class="clearfix">
                    <div class="title" float-left="">
                      {{one.title}}
                    </div>
                    <img float-left="" [src]=" one.type == 1 ? 'assets/images/hall_icon@2x.png' : 'assets/images/meet_icon@2x.png'" alt="">
                  </div>
                  <div class="time">
                    {{one.time}}
                  </div>
                  <div class="status" [style.color]="one._color">
                    {{one._status}}
                  </div>
                  <div class="button" ion-button="" round (click)="operation(one)">
                    {{one.cancel == "0" ? "取消" : "删除"}}
                  </div>
                </div>
            </ion-list>
        </ion-content>
    </div>
</base-content>
