<base-content [title]="'信息'" [backtype]="2" (back)="downBack()">
  <div class="user_info user_info_c">
      <ion-list>
        <button  ion-item>
            <ion-label>
              更换头像
            </ion-label>
            <img src="" item-right="">
        </button>
        <button ion-item >
          <ion-label>
            昵称
          </ion-label>
          <button ion-button="" item-right="">
            才购物的小姑凉
          </button>
        </button>
      </ion-list>
  </div>
</base-content>


